@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css';
@import 'https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css';
@import 'https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre|Open+Sans';

::selection {
    color: #fcfcfc;
    background-color: #6c71c4;
}

html {
    font-size: 16px;
}

body {
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;

    background-color: #fcfcfc;

    color: #657b83;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Frank Ruhl Libre', cursive;
    color: #6c71c4;
}

main {
    padding: 2rem;
    margin: 4rem auto;

    max-width: 900px;
}

.notice {
    padding: 1rem;
    margin-bottom: 2em;

    border: 2px solid #6c71c4;
    color: #6c71c4;

    border-radius: 3px;
}

.hidden {
    display: none;
}

button {
    margin-top: 1rem;
    padding: 1rem;

    background-color: transparent;

    border: 2px solid #6c71c4;

    color: #6c71c4;
    font-weight: 600;

    border-radius: 3px;
}

button:hover {
    background-color: #6c71c4;
    cursor: pointer;
    
    color: #fcfcfc;
}

li {
    margin-bottom: .5rem;
}

a,
a:link,
a:visited,
a:active {
    color: #6c71c4;
    font-weight: 600;

    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    margin-bottom: 6rem;

    text-align: center;
}
