@value colors: "../variables.module.css";
@value primary, gray, dark, light, lightTint, primaryLight from colors;

.hidden {
  display: none;
}

.visible {
  display: block;
}

.item {
  margin-block-end: 0.5rem;
}

.padding {
  padding: 0.25rem 0;
}

.title {
  composes: padding;

  display: block;
  width: 100%;

  text-align: left;
  font-weight: bold;
  color: primary;
  line-height: inherit;

  border: none;
  background-color: transparent;

  cursor: pointer;
}

.title:hover {
  color: dark;
}

.title:active,
.title:focus {
  outline-color: gray;
}

.content {
  composes: padding;
}
