@value colors: "../variables.module.css";
@value primary, dark, light from colors;

.button {
  background-color: primary;
  color: light;
  border: 0;

  cursor: pointer;

  padding: 0.75rem;

  border-radius: 3px;

  transition: all ease-in-out 0.2s;

  margin-right: 10px;
}

.button:hover {
  transform: scale(1.05);
}

.button:active,
.button:focus {
  transform: scale(1);
  background-color: transparent;
  color: primary;
  outline: 2px solid primary;
}
