@value colors: "../variables.module.css";
@value primary, dark from colors;

.link {
  color: primary;
  font-weight: bold;
  text-decoration: none;

  display: inline;
}

.link:hover {
  color: dark;
  cursor: pointer;
}

.visible {
  display: block;
}

.closed {
  display: none;
}
