@value colors: "../variables.module.css";
@value primary, dark, gray from colors;

.link {
  color: primary;
  font-weight: bold;
  text-decoration: none;

  background-color: transparent;
  border: 0;

  padding: 0;
  margin: 0;

  display: block;

  line-height: inherit;
}

.link:hover {
  color: dark;
  cursor: pointer;
}

.link:active,
.link:focus {
  outline: 2px solid gray;
}

.visible {
  display: block;
}

.closed {
  display: none;
}
