.footer {
  margin-top: 2rem;
  font-size: 0.8rem;

  padding: 2rem;
  background-color: #faf5f5;
}

.footer ul {
  list-style-type: none;
  margin: 0;
}

.footer ul li {
  margin-bottom: 0;
}

.footer ul li.separate {
  margin-top: 1rem;
}

.footer .muted {
  color: #888;
}
