@import url('https://fonts.googleapis.com/css?family=Lato');

@value colors: "./variables.module.css";
@value light, dark, primary from colors;

::selection {
  background-color: primary;
  color: light;
}

html {
  font-size: 125%;
  line-height: 1.61;
}

body {
  color: dark;
  font-family: 'Lato', sans-serif;
  overflow-y: scroll;
}
