@import url('https://fonts.googleapis.com/css?family=Armata');

:root {
    ---color-sunglow: #E87A14;
    ---color-silver: #BCD8BF;
    ---color-charcoal: #2D3F51;
    ---color-white: #FFFFFF;
    ---color-purple-dark: #3F2032;
}

::selection {
    background-color: #E87A14;
    color: #ffffff;
}

a {
    font-weight: 800;
    color: #E87A14;
}

a:hover {
    text-decoration: none;
    color: #3F2032;
    border-bottom: 2px solid #3F2032;
}

html {
    height: 100%;
}

body {
    background: url('./background.jpg') no-repeat center center fixed;
    background-size: cover;

    min-height: 100%;

    font-family: 'Armata', sans-serif;
}

p:last-child {
    margin-bottom: 0;
}

.btn {
    border-radius: 0;
}

.btn-primary {
    background-color: #E87A14;
    border-color: #E87A14;
}

.btn-primary:hover {
    background-color: #3F2032;
    border-color: #3F2032;
}

.btn-primary:active {
    background-color: #E87A14 !important;
    border-color: #E87A14 !important;
}

.btn-primary:focus, .btn-primary:active:focus {
    box-shadow: 0 0 0 0.2rem rgba(232, 122, 20, .5) !important;
}

h1 {
    font-weight: 800;
}

.sk-double-bounce.spinner {
    margin: 0;
    font-size: inherit;
    text-align: inherit;
}

.sk-double-bounce.spinner .sk-child {
    background-color: #E87A14;
}
