@value colors: "./variables.module.css";
@value lightTint from colors;

.container {
  max-width: 700px;

  margin: 3rem auto 3rem;
}

.element {
  padding: 0 2rem;
}

.footer {
  margin-top: 2rem;
  font-size: 0.8rem;

  padding: 2rem;
  background-color: lightTint;
}
