.button {
  background-color: #f92300;
  color: #fff;
  border: 0;

  cursor: pointer;

  padding: 0.5rem 0.75rem;

  border-radius: 3px;

  transition: all ease-in-out 0.2s;

  margin-right: 10px;
  margin-left: -0.5rem;
}

.button:hover {
  transform: scale(1.05);
}

.button:active,
.button:focus {
  outline: 3px solid #f92300;
  background-color: transparent;
  color: #000;
}
